---
layout: default
---
<div class="hero">
  <img src="assets/images/logo.png" alt="logo">
  <p class="hero-claim">Impacting lives by teaching to code</p>
</div>

<main>
  <p>Powercoders is a coding academy for refugees. The first 12 weeks boot-camp will take place from January to April 2017 in Bern.</p>

  <h2>ReBootcamp-17-BRN<br>Jan - Apr 2017</h2>
  <p>The 3 month coding bootcamp is followed by a 3 month trainee program. The trainee program can be extended by another 3 months. The ultimate goal of the ReBootcamp is the permanent placement of trained refugees in IT-companies and IT-departments in the Canton of Berne. </p>

  {% include call-to-action.html
      title="Refugees?"
      description="Are you a refugee interested in participating?"
      link_url="mailto:chris@pacific-catch.ch"
      link_text="Get in touch with us"
  %}

  <h2>Companies</h2>
  <p>There is a shortage of skilled IT-workers, especially frontend developers. We presented our idea to IT-companies of all sizes and so far the positive response has been overwhelming.</p>

  {% include call-to-action.html
      title="Developer?"
      description="Are you a developer? Do you want to teach?"
      link_url="https://goo.gl/forms/oK3VWdMuyIQm3wzD3"
      link_text="Fill out the survey"
  %}

  {% include call-to-action.html
      title="IT Company?"
      description="Are you an IT-company operating in the Canton of Berne? Do you want to offer a trainee programm? "
      link_url="mailto:chris@pacific-catch.ch"
      link_text="Get in touch with us"
  %}

  <h2>Partners</h2>
  <p>Our main partner for ReBootcamp-17-BRN is Migros-Kulturprozent</p>
  <p>Our program needs financial support:<br> If you can help us out. Please contact us, any small contribution is welcome</p>
  <h2>Contact</h2>
  <a href="mailto:chris@pacific-catch.ch">chris@pacific-catch.ch</a>
</main>
