---
layout: default
title: coding academy for refugees
---

<aside class="container hero">
    <img src="assets/images/logo.svg" alt="logo" class="hero-logo">
    <p class="hero-claim">Impacting lives by teaching to code</p>
    <img src="assets/images/desk.png" class="hero-image">
</aside>

<main>
  <div class="container is-alt-color">
    <p class="is-lead editable">Powercoders is a coding academy for refugees, The next boot-camp will start on September 25th in Zurich.</p>

    <p class="editable">The 3 months coding acdemy is followed by a 3 to 6 months internship. The ultimate goal of the Powercoders program is the permanent placement of trained refugees in IT-companies and IT-departments. Participation is free of charge (additional help for laptop, food and transportation are offered) and includes a mentoring program.</p>

      <h2 id="signup">Sign up for the Powernews.</h2>
        <p>
  <div id="mc_embed_signup">
  <form action="https://powercoders.us14.list-manage.com/subscribe/post?u=2a42a364dd3183e63617d355b&amp;id=dd4d5d82f8" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
     <div id="mc_embed_signup_scroll">
      <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
     <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
     <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2a42a364dd3183e63617d355b_dd4d5d82f8" tabindex="-1" value=""></div>
     <div class="clear"><input type="submit" value="Keep me posted" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
     </div>
  </form>
  </div>

  <!--End mc_embed_signup-->
        </p>
  </div>

  <div class="container is-wide is-flex is-alt-color">

      {% for call in site.action_calls %}
        <div class="call-to-action">
          <div>
            <div class="call-to-action-title">{{call.title}}</div>
            <p>{{call.content}}</p>
          </div>
          <a class="call-to-action-link" href="{{call.link_url}}">{{call.link_text}}</a>
        </div>
      {% endfor %}


  </div>


  <div class="container editable">
    <h2>Who we are.</h2>
    <p>We are a very dedicated core team supported by over a hundred of volunteers.</p>
    <p>
      The core team for Zürich:
    </p>

    <p>
      <ul>
        <li>project lead: Christian Hirsig, serial entrepreneur</li>
        <li>mentoring lead: Sunita Asnani, social worker and dancer</li>
        <li>teaching lead: vacant, please apply <a href="mailto:christian.hirsig@powercoders.org">Christian Hirsig</a></li>
        <li>operational lead: Hussam Eddin Allaham, Powercoder #001</li>
        <li>advisor: Hannes Gassert, serial entrepreneur</li>
      </ul>


    </p>

    <p>
        We are supported by the <a href="https://zurich.impacthub.ch/">Impact Hub community</a>.
    </p>

    <p>
      If you have any questions regarding Powercoders do not hesitate to get
      in touch with us at <a href="mailto:info@powercoders.org">info@powercoders.org</a>.
    </p>

  </div>
  <h2>We are supported.</h2>
    {% for kind in site.data.partners %}
      <h3>{{kind.title}}</h3>
      <div class="container is-flex">
        {% for partner in kind.list %}
          <div class="partner" {%if partner.background-color %}style="background-color: {{partner.background-color}}"{% endif%}>
            <a href="{{partner.url}}">
              <img src="/assets/images/partner/{{partner.logo}}">
            </a>
          </div>
        {% endfor %}
      </div>
    {% endfor %}
</main>
