@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro|Cousine|Cutive+Mono|Droid+Sans+Mono|Fira+Mono|Inconsolata|Nova+Mono|Oxygen+Mono|PT+Mono|Roboto+Mono|Share+Tech+Mono|Source+Code+Pro|Space+Mono|Ubuntu+Mono|VT323');

// font-family: 'Inconsolata', monospace;
// font-family: 'Roboto Mono', monospace;
// font-family: 'Source Code Pro', monospace;
// font-family: 'Droid Sans Mono', monospace;
// font-family: 'VT323', monospace;
// font-family: 'Space Mono', monospace;
// font-family: 'PT Mono', monospace;
// font-family: 'Ubuntu Mono', monospace;
// font-family: 'Anonymous Pro', monospace;
// font-family: 'Cousine', monospace;
// font-family: 'Oxygen Mono', monospace;
// font-family: 'Cutive Mono', monospace;
// font-family: 'Fira Mono', monospace;
// font-family: 'Share Tech Mono', monospace;
// font-family: 'Nova Mono', monospace;

body {
  font-family: "Source Code Pro";
  font-size: $base-font-size;
  line-height: 150%;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 1em 0;
  font-weight: normal;
}

h2::before, h2::after {
  font-size: 100%;
  opacity: 0.2;
}

h2::before {
  content: "<h2>";
}

h2::after {
  content: "</h2>";
}


h1 {
  font-size: 150%;
}

h2 {
  margin-top: 6rem;
  font-size: 120%;
}


@media (min-width: $break-point-small) {
    body {font-size: $base-font-size*1.2;}
}

@media (min-width: $break-point-large) {
    body {font-size: $base-font-size*1.4;}
}
