@import url('https://fonts.googleapis.com/css?family=Roboto:700|Roboto+Slab');

$font: 'Roboto Slab', serif;
$font-alt: 'Roboto', sans-serif;

body {
  font-family: $font;
  font-size: $base-font-size;
  line-height: 150%;
}

h1, h2, h3, h4 {
  font-family: $font-alt;
  text-align: center;
  padding: 4em 0 2em;
  font-weight: 700;
}

h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}


@media (min-width: $break-point-small) {
    body {font-size: $base-font-size*1.2;}
}

@media (min-width: $break-point-large) {
    body {font-size: $base-font-size*1.4;}
}
