body {
  font-family: monospace;
  font-size: $base-font-size;
  line-height: 150%;
}

h1, h2, h3, h4 {
  text-align: center;
  margin: 2em 0 1em;
  font-weight: bold;
}

h2::before, h2::after {
  font-size: 100%;
  opacity: 0.2;
}

h2::before {
  content: "<h2>";
}

h2::after {
  content: "</h2>";
}


h1 {
  font-size: 150%;
}

h2 {
  font-size: 120%;
}


@media (min-width: $break-point-small) {
    body {font-size: $base-font-size*1.2;}
}

@media (min-width: $break-point-large) {
    body {font-size: $base-font-size*1.4;}
}
