.call-to-action {
  //border: 1px solid black;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14),0 1px 5px 0 rgba(0,0,0,0.12),0 3px 1px -2px rgba(0,0,0,0.2);
  padding: 1em;
  margin: 1em 0;

  .call-to-action-title {
    font-weight: bold;
    color: $color-accent;
  }

  .call-to-action-link {
    // color: inherit;
    // text-decoration: underline;
  }
  .call-to-action-link:hover {
    // background-color: #67CA2F;
    // color: black;
  }
}
