.container {
  padding: 1rem;
  width: 100%;

  &.is-alt-color {
    background-color: $color-alt;
  }

  & > * {
    display: block;
    margin: 0 auto;
    max-width: 40rem;
  }

  &.is-wide > * {
    max-width: 60rem;
  }

  &.is-flex {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;;
    * {
      flex: 1 0 auto;
    }
  }
}
