.hero {
  width: 100%;
  max-width: 100%;
  text-align: center;
  padding-top: 3rem;
  .hero-logo {
    width: 80%;
    max-width: 600px;
  }
  .hero-image {
    margin-top: 1.5rem;
    max-width: 100%;
    margin-bottom: -1rem;
  }
}
