#mc_embed_signup{
  clear:left;
  font: inherit;
  width:100%;

  input.email {
    font: inherit;
    height: 40px;
  }
  input.button {
    font: inherit;
    height: 40px;
    background-color: $color-accent;
  }
}
