// do we still need this? facebook link was removed as requested by migros

.social {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;

  .social-item a {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .social-logo {
    height: 60px;
  }
}
